VITE_SERVERPORT = 9898
VITE_SERVERHOST = http://localhost

# Twitch API credentials
VITE_TWITCHCLIENTID = DEV APP CLIENT ID
VITE_TWITCHCLIENTSECRET = DEV APP CLIENT SECRET
VITE_TWITCHBROADCASTER_SCOPES = user:read:chat chat:read chat:edit user:write:chat channel:manage:clips 
VITE_TWITCHBOT_SCOPES = user:read:chat chat:read chat:edit user:write:chat

# KICK API credentials
VITE_KICKCLIENTID = DEV APP CLIENT ID
VITE_KICKCLIENTSECRET = DEV APP CLIENT SECRET
VITE_KICKBROADCASTER_SCOPES = user:read chat:write events:subscribe
VITE_KICKBOT_SCOPES = user:read chat:write events:subscribe