.vscode/settings.json
.vscode/extensions.json
node_modules
dist
out
.DS_Store
.eslintcache
*.log*
.editorconfig
.env.development
.env.production
.npmrc
.prettierignore
.prettierrc.yaml
cspell.json
dev-app-update.yml
electron-builder.yml
eslint.config.mjs
TODO
